.message {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .messageTop{
      display: flex;
  }
  
  .messageImg {
    width: 35px;
    max-width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText{
      padding: 10px;
      border-radius: 20px;
      background-color: #b070dc;
      color: white;
      max-width: 300px;
      height: auto;

  }
  
  .messageBottom{
      font-size: 12px;
      margin-top: 10px;
  }
  
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
      background-color: rgb(245, 241, 241);
      color: black;
  }