// header.scss
.dialog {
  overflow-y: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  max-width: 800px;
  min-width: 800px;
  max-height: 500px;
  min-height: 500px;
  border-radius: 20px;
}



.popup_container {
  display: none;
  margin-top: -1.5%;
  z-index: 9999;
  height: 100%;
  position: fixed;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-color: rgba(197, 131, 245, 0.5);
}


.line {
  
  border: none;
  border-top: 1px solid rgb(133, 78, 217);
  margin-top: 10px;
}

.dialog h2{
  margin-top: 2px;
  margin-left: 2px;
  padding: 10px;
 
}

.notification_box {
  background-color: rgba(160, 132, 220);
  margin-left: 50px;
  margin-top: 20px;
  width: 700px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.header-content_pop{
  position: sticky;
  display: flex;
  align-items: center;
}
.header-content_pop button{
  float: right;
  right: 0;
  margin-left: auto;
}

.notification_box p {
  color: white;
  margin-left: 10px;
}

.notification_box img {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  height: 90px;
  max-height: 90px;
  min-height: 90px;
  margin-left: 10px;
  border-radius: 50%;
  margin-right: 15px;
}

.popup_container.open {
  display: block;
}


.TOP_border{
  margin-top: -30px;
  display: flex;
}

.BOT_border{
  width: 90%;
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 20px;
  margin-left: 40px;
  background-color: rgba(160, 132, 220);
  height: 380px;
}

.BOT_border select{
  width: 90%;
  margin-top: 20px;
  margin-left: 30px;
  height: 40px;
  border-radius: 20px;
}

.top_s{
  display: flex;
  margin-bottom: 0;
  margin-left: 700px;
}
.div_elem_user_search{
width: 680px;
height: 100px;
overflow-y: scroll;
border-radius: 20px;
background-color:white;
margin-left: 20px;
margin-top: 20px;
display: flex;
}

.div_elem_user_search img{
  width: 70px;
  max-width: 70px;
  min-width: 70px;
  max-height: 70px;
  min-height: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  }

  .div_elem_user_search p{
   color: #645CBB;
   margin-top: 20px;
   font-family: 'Noto Serif Khitan Small Script', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
    }