

.subscriptions {
    width: 650px;

}

.payment_div{
    border-radius: 20px;
    border: 1px solid #524;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-height: 300px;
    margin-top: 20px;
}
.subscriptions_ {
    border-radius: 20px;
    border: 1px solid #524;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
  }

/* Settings */

.settings {
    min-height: 560px;
    max-height: 560px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    height: 300px;
    background: #f1f1f1;
    margin-left: 8%;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 0 0 20px 20px;
  }
  
  
  .bloc-tabs {
    display: flex;
  }
  
  #p_tab{
    color: #ffffff;
  }
  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
   
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    background-color: #645CBB;
  }
  

  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs #p_tab{
    color: #645CBB;
  }

  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background:#645CBB;
  }
  
  .bloc-tabs button{
  border: none;
  }
  
  .content-tabs {
    background-color: white;
    flex-grow : 1;
    border-radius: 20px;
    
  }
  .content-set {
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 0 0 20px 20px;
  }
  
  .content-set h2 {
    padding: 0px 0 5px 0px;
  }
  .content-set hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content-set p {
    width: 100%;
    height: 100%;
  }
  
  .active-content {
    display: flex;
  }
  
  .sett_img-user img{
    overflow: hidden;
    max-width: 250px;
    min-width: 250px;
    min-height: 200px;
    max-height: 250px;
    border-radius: 50%;
  }
  
  .sett_img-user {
    margin-left: 200px;
  }

  .subscriptions {
    margin-top: 20px;
  }
  
  .subscriptions_ {
    border-radius: 20px;
    border: 1px solid #524;
    padding: 20px;
  }
  
  .subscriptions_ h2 {
    margin-bottom: 10px;
    color: #481e94;
  }
  
  .subscriptions_ p {
    margin-bottom: 5px;
  }
  
  .subscriptions_ ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .subscriptions_ button {
    padding: 10px 20px;
    background-color: #481e94;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    float: right;
    right: 0;
  }  
  
  .subscriptions_ button:hover {
    background-color: #5e279b;
  }
  
  .subscriptions button{
    padding: 10px 20px;
    background-color: #481e94;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 20px;
  }


  .popup_container_sub {
    display: none;
    margin-top: -1.5%;
    z-index: 9999;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: rgba(197, 131, 245, 0.5);
  }
  
  .popup_container_sub.open {
    display: block;
  }

  .dialog_sub button{
    float: right;
    right: 0;
    margin-left: auto;
  }
  
  .dialog_sub {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    max-width: 800px;
    min-width: 800px;
    max-height: 500px;
    min-height: 500px;
    border-radius: 20px;
  }


  .cards_sub {
    display: inline-flex;
    margin-left: 40px;
    margin-top: 20px;
  }
  
  .cards_sub_premium {
    width: 300px; 
    height: 300px;
    display: inline-block;

    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px;
  }
  
  .cards_sub_vet {
    width: 300px; 
    height: 300px;
    display: inline-block;
    margin-right: 16px; 
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px;
  }
  
  .cards_sub button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
   

  }
  
  .cards_sub button:hover {
    background-color: #45a049;
  }
  
  .cards_sub_premium button {
    background-color: #6c10b7;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cards_sub_premium button:hover {
    background-color: #9124cc;
  }
  
  .cards_sub_vet button {
    background-color: #6c10b7;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cards_sub_vet button:hover {
    background-color: #303f9f;
  }

  .sub_border_chose_plan h3 {
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
  }
  

  .sub_border_chose_plan{
    width: 100%;
    background-color: #6c10b7;
    height: 50px;
    border-radius: 20px 20px  0 0;
  }

  

  .cards_sub h2{
    
    font-size: 50px;
    text-align: center;
    color:#481e94 ;
    margin-bottom: 20px;
  }

  
  .cards_sub p{
    font-size: 20px;
    margin-left: 25px;
    margin-top: 20px;
    text-align: center;
    color:#481e94 ;
    margin-bottom: 20px;
  }

  
  .cards_sub ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .benefits{
    height: 120px;
  }

  
  
  .payment_plan_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sub_border_chose_plan {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .payment_plan_section  h3 {
    margin: 0;
  }
  
  .div_payment {
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    width: 800px;
    max-width: 100%;
  }
  
  .left_pay {
    flex: 1;
    max-width: 300px;
    background-image: url('../media/mikhail-vasilyev-Qmox1MkYDnY-unsplash.jpg'); 
    background-size: contain;
    max-height: 450px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .left_pay .head{
    width: 300px;
    margin-top: 300px;
background-color: rgba(34, 34, 34,0.5);
height: 200px;
padding: 20px;
  }

  
  .left_pay h2 {
    color: white;
    margin-top: 10px;
  }
  
  .right_pay {
    flex: 1;
    max-height: 450px;
    min-height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  .right_pay input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.right_pay button {
  background-color: #5e279b;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}



.success_payment {
  margin-top: 20px;
  padding: 20px;
  background-color: #e5f7ed;
  border: 1px solid #32a852;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
}


.success_image {
  max-width: 100%;
  height: 600px;
  object-fit: contain;
  margin-top: -100px;
 
}
.circle-image{
  width: 120px;
  max-width: 120px;
  min-width: 120px;
  height: 120px;
  max-height: 120px;
  min-width: 120px;
}
.payment_div p {
  margin-bottom: -1px;
}

.payment_div button{
margin-left: 500px;
}

.payment_div h2 {
  margin: 8px 0;
  color: #481e94;
}

.payment_div p:first-child {
  color: #6c10b7;
}

.payment_div p:last-child {
  margin-bottom: 0;
}


.button_sub {
  width: fit-content;
  display: flex;
  padding: 1.2em 1rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg, #974793, #aa2095, #cc3f6e, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
  transition:  .3s ease;
}

.button_sub:hover {
  background-size: 320%;
  background-position: right center;
}

.button_sub:hover svg {
  fill: #fff;
}

.button_sub svg {
  width: 23px;
  fill: #f09f33;
  transition: .3s ease;
}


.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}


.hamster_{
  align-items: center;
  margin-left: 30%;
}