@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(50deg, #EBC7E6, #645CBB);
  
  overflow: hidden;
}

.container {
  margin-left: 2%;
  top: 7%;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50px;
  position: fixed;
  transition: 0.4s ease;
}

.container.active {
  height: 460px;
}

.toggleBox {
  position: relative;
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.toggleBox.active .icon {
  width: 0;
}

.icon {
  position: absolute;
  height: 4px;
  width: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A084DC;
  border-radius: 50px;
}

.icon::before,
.icon::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A084DC;
  border-radius: 50px;
  transition: 0.3s;
}

.icon::before {
  top: 12px;
}

.icon::after {
  bottom: 8px;
}

.toggleBox.active .icon::before {
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, 4px) rotate(45deg);
}

.toggleBox.active .icon::after {
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, -6px) rotate(-45deg);
}

.navItems {
  width: 100%;
  visibility: hidden;
}

.container.active .navItems {
  visibility: visible;
}

li {
  list-style: none;
}

li a i {
  position: relative;
  display: block;
  font-size: 25px;
  padding: 25px 0;
  color: #A084DC;
  width: 100%;
  text-align: center;
  transform: scale(0);
}

li a i::after {
  position: absolute;
  content: '';
  top: 50%;
  height: 50%;
  width: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: #e09bec;
  border-radius: 20px 20px 20px 20px;
}

li:hover a i::after {
  width: 8px;
  transition: 0.3s;
}

.container.active .navItems li a i {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: calc(0.08s * var(--i));
}

.container.active .navItems li:hover a i {
  transition: 0.2s ease;
  color: #e09bec;
}

/* FEED */
.containerFeed{
  overflow-x:scroll;
  top: 7%;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-left: 8%;
}

.Feed{
  top: 7%;
  height: 100%;
  width: 65%;
  position: fixed;
}

.Feed_add_post{
  background-color: white;
  height: 30%;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 20px 20px 20px 20px ;
}

.Feed_container{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 20px 20px ;
}


.Feed_side_bar {
  top: 7%;
  height: 98%;
  width: 20%;
  position: fixed;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Feed_side_bar .Feed_Search {
  background-color: white;
  height: 5%;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 5%;
}

.Feed_ADv {
  background-color: white;
  height: 84%;
  border-radius: 20px;
  width: 100%;
}






/* FAVOURITES */

.ListOfFavourites_container{
  overflow-x:scroll;
  top: 7%;
  height: 100%;
  width: 90%;
  position: fixed;
  margin-left: 8%;
}

.ListOfFavourites_search{
  background-color: white;
  height: 7%;
  width: 100%;
  border-radius: 20px 20px 20px 20px ;
  margin-bottom: 1%;
}
.ListOfFavourites{
  background-color: white;
  height: 80%;
  width: 100%;
  border-radius: 20px 20px 20px 20px ;
}


/*My Animals*/

.Animals_container {
  overflow-x: scroll;
  top: 7%;
  height: 100%;
  width: 90%;
  position: fixed;
  margin-left: 10%;
  flex-direction:column;
}

.list_of_animals {
  background-color: white;
  height: 12%;
  
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 2%;
}

.Animals_profile_container {
  display: flex;

  height: 40%;
  width: 100%; 
  border-radius: 20px;
  margin-bottom: 1%;
  margin-right: 1%; 
}

.Animals_details_container {
  background-color: white;
  height: 100%;
  width: 59%;
  border-radius: 20px;
  margin-right: 1%;
}

.Animals_photo_container {
  background-color: white;
  height: 100%;
  width: 30%;
  margin-right: 1%;
  border-radius: 20px;
}

.medical_details {
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  width: 100%; 
  border-radius: 20px;
  margin-bottom: 1%;
 
}

.medical_details_container {
  background-color: white;
  height: 100%;
  width: 59%;
  border-radius: 20px;
  margin-right: 1%;
}

.medical_details_container_remind{
  background-color: white;
  height: 100%;
  width: 30%;
  border-radius: 20px;
}


/* My Profile*/
.profile {
  overflow-x: scroll;
  top: 7%;
  height: 100%;
  width: 90%;
  position: fixed;
  margin-left: 10%;
  flex-direction:column;
}

.user_posts {
  background-color: white;
  height: 100%;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 2%;
  opacity: 60%;
  
}

.user_details {
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  width: 100%; 
  border-radius: 20px;
  margin-bottom: 1%;
}

.user_details_container {
  background-color: white;
  opacity: 80%;
  height: 100%;
  width: 69%;
  border-radius: 20px;
  margin-right: 1%;
  display: flex;
  align-items: center;
}

.usDC{
  background-color: #645CBB;
  width: 80%;
  height: 100%;
  opacity: 90%;
  box-shadow: 20px 0px 0px 0px rgba(20, 0, 0, 0.15);
  border-radius: 20px 400px 0 20px;
}
.circle {
  background-color: #BFACE2;
  margin-top: 2%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
  margin-left: 5%;
  align-self: flex-end;
}

.circle2 {
  background-color: #EBC7E6;
  margin-top: 8%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
  margin-right: -31%;
  align-self: flex-end;
}


.circle2 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.User_spef {
  margin-left: 5%;
  padding: 20px;
  width: 65%;
  border-radius: 10px;
  
}

.User_spef h2 {
  font-size: 30px;
  margin-top: 7%;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}

.User_spef h5 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  color: #ffffff;
  font-style: italic;
}



.under {
  width: 100%;
  height: 20%;
  margin-top: 7%;
}

.under img {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  border: 10px solid white;
  margin-right: 8%;
}


.user_details_container_animals {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  border-radius: 10%;
  opacity: 80%;
  background-color: #BFACE2;
}

.user_details_container_animals img{
  display: inline-block;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

.container_det_animals {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 85%;
  border-radius: 10%;
  background-color: #ffffff;
  display: block;
}

.container_det_animals  .container_det_animals_b{
  width: 100%;
  height: 70%;
  border-radius:  10% 10% 0 0  ;
  background-color: #645CBB;
  margin-bottom: 2%;
}

.container_det_animals  .container_det_animals_c{
  width: 100%;
  height: 15%;
  bottom: 0;
  background-color: #d0ced5;
}

.container_det_animals_c h3 {
  font-size: 30px;
  margin-top: 7%;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}
/* settings*/
.settings {
  top: 8%;
  position: fixed;
  height: 80%;
  width: 90%; 
  border-radius: 20px;
  margin-left: 10%;
  display: flex;
}

.setttings_container {
  background-color: white;
  height: 100%;
  width: 20%;
  border-radius: 20px;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_button {
  background-color: #E5E0FF;
  height: 7%;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 2%;
}

.settings_button_logout {
  background-color: #E5E0FF;
  height: 20%;
  width: 80%;
  border-radius: 20px;
}
.setttings_container_details{
  background-color: white;
  height: 100%;
  width: 70%;
  border-radius: 20px;
}

