@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

* p{
  font-size: 150%;
  font-family: 'Lato', sans-serif;
  margin-right: 10%;
  font-size: 115%;
  font-weight: bold;

  white-space: nowrap;
}

/* Header*/
.container_head {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #645CBB,  #8d6baf);
  height: 12%;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_info {
margin-left: 60%;
  display:inline-flex;
  margin-right: 5%;
 align-items: center;
 float: right;
}

.user_info span {
  font-family: 'Lato', sans-serif;
  margin-right: 10%;
  font-size: 115%;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

.user_info button {
  font-family: 'Lato', sans-serif;
  border: none;
  color: #fff;
  background-color: #645CBB;
  font-weight: bold;
  cursor: pointer;
  font-size: 115%;
}

.user_info button:hover{
  border-radius: 20%;
  height: 80%;
  width: auto;
  background-color: #8d6baf;

}


.Logo{
  height: 100%;
  width: 40%;
  max-width: 250px;
}

.Logo img {
  height: 130%;
  width: 100%;
}

.user_info img {
  width: 20%;
  min-width: 80px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  margin-right: 5%;
}

.user-info_b img {
  width: 20%;
  min-width: 80px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  margin-right: 5%;
}

.user-info_b p {
  color: #FFFFFF;
}

.content {
  margin-top:7%;
}

.user-info_b .fav_iconIhe{
margin-left: 500px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #d2bdea,#7b73b9);
  overflow: hidden;
}

.container {
  margin-left: 2%;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50px;
  position: fixed;
  transition: 0.4s ease;
}

.container.active {
  height: 460px;
}

.toggleBox {
  position: relative;
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.toggleBox.active .icon {
  width: 0;
}

.icon {
  position: absolute;
  height: 4px;
  width: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #645CBB;
  border-radius: 50px;
}

.icon::before,
.icon::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #645CBB;
  border-radius: 50px;
  transition: 0.3s;
}

.icon::before {
  top: 12px;
}

.icon::after {
  bottom: 8px;
}

.toggleBox.active .icon::before {
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, 4px) rotate(45deg);
}

.toggleBox.active .icon::after {
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, -6px) rotate(-45deg);
}

.navItems {
  width: 100%;
  visibility: hidden;
}

.container.active .navItems {
  visibility: visible;
}

li {
  list-style: none;
}

li a i {
  position: relative;
  display: block;
  font-size: 25px;
  padding: 25px 0;
  color: #645CBB;
  width: 100%;
  text-align: center;
  transform: scale(0);
}

li a i::after {
  position: absolute;
  content: '';
  top: 50%;
  height: 50%;
  width: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: #e09bec;
  border-radius: 20px 20px 20px 20px;
}

li:hover a i::after {
  width: 8px;
  transition: 0.3s;
}

.container.active .navItems li a i {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: calc(0.08s * var(--i));
}

.container.active .navItems li:hover a i {
  transition: 0.2s ease;
  color: #e09bec;
}

/* FEED */
.containerFeed{
  overflow-x:scroll;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-left: 8%;
}

.Feed{
  height: 100%;
  width: 65%;
  position: fixed;
  overflow-y: scroll;
}

.Feed::-webkit-scrollbar {
  display: none;
}

.containerFeed button {
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


.Feed_add_post {
  background-color: white;
  height: 15%;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 20px;
  position: relative;
}

.input_container {
  display: flex;
  width: 100%;
  align-items: center;
}

.post_input {
  width: 100%;
  margin-left: 1%;
  padding: 10px;
  border: none;
  margin-top: 1%;
}

.post_input:focus {
  border: none;
  outline: none;
}

.Feed_add_post .Animals_details_container_border {
  height: 45%;
}

.Feed_container {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.buttons_feed {
  position: absolute;
  bottom: 20%;
  right: 5%;
}

.buttons_feed button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.add-animal-btn {
  background-color: #7268b9;
}



.Feed_side_bar {
  height: 98%;
  width: 20%;
  position: fixed;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Feed_side_bar .Feed_Search {

  height: 5%;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 5%;
}

.Feed_ADv {
  background-color: white;
  height: 70%;
  border-radius: 20px;
  width: 100%;
}


.Feed_ADv ._border_adv{
  background-color: #645CBB;
  float: right;
  height: 8%;
  width: 100%;
  border-radius: 20px  20px 0 0 ;
  margin-left: 1%;  
}



._border_adv h3 {
  font-size: 120%; 
  width: 100%;
  height: 100%;
  color: #FFFFFF; 
  margin: 0; 
  padding: 10px; 
}



/*POSTS*/


.card {
	max-width: 100%;
  min-height: 800px;
	background-color: #FFF;
	box-shadow: 0 5px 10px 0 rgba(#000, .15);
	border-radius: 20px;
  margin-bottom: 7%;
}

.userid .Animals_details_container_border{
width: 100%;
}

._border_{
  background-color: #645CBB;
  width: 100%;
  border-radius: 20px  20px 0 0 ;
}

._border_ img{
  width: 7%;
  margin: 1%;
  border-radius: 50%;
}

.user-info_b {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.user-info_b button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 10px;
  
}

.user-info_b button:before {
  content: "•••";
  font-size: 15px;
  color: #ffffff;
}



.post_content {
  display: flex;
  height: 450px;
  width: 100%;
  border-radius: 5%;
  margin-top: 2%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.end{
  height: 200px;
}

.photo_a {
  width: 50%;
  background-color: #FFFFFF;
  border-radius: 5% 0 0 5%;
  overflow: hidden;
  margin-bottom: 2%;
  margin-left: 2%;
  min-width: 500px;
}

.photo_a img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.post_content_details{
  width: 55%;
  top: 20%;
  margin-left: 5%;
  border-radius: 5%;
}

.post_content_details_ {
  width: 100%;
  height: 80%;
  border-radius: 0 5% 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  position: absolute;

}

.bot_post { 
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5%;
}

.bot_post p:first-child {
  font-size: 100%;
  font-weight: bold;
}

.bot_post p:last-child{
  font-size: 80%;
  color: #8e8e8e;
  text-align: right;
  margin: 2%;
}

.category_ {
  position: absolute;
  top: 0;
  right: 10%;
  transform: translate(50%, -50%);
  background-color: #645CBB;
  width: 15%;
  height: 25%;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_ p {
  color: white;
  margin-top: 30%;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  font-size: 1.2em;
}

.div_content_post {
  height: 20%;
  font-style: italic;
  font-size: 110%;
  line-height: 1.5;
}

.div_content_post p{
  margin-top: -5%;
}

.div_content_post_title h6 {
  margin-top: -20%;
  top: 0;
  margin-bottom: 10%;
  border-bottom: 5px solid #524a9d;
  padding-bottom: 10px;
}


h6 {
  font-size: 250%;
  margin-bottom: 2%;
  color: #645CBB;
}


.button-container button {
  padding: 10px 20px;
  border: none;
  background-color: #645CBB;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  margin: 5%;
  width: 25%;
}

.button-container button:hover {
  background-color: #524a9d;
}


/* FAVOURITES */

.ListOfFavourites{
  position: absolute;
  overflow-x:scroll;
  height: 100%;
  width: 100%;
  margin-left: 8%;
}

.ListOfFavourites_container{
  height: 100%;
  width: 87%;
}

.ListOfFavourites_search{
  background-color: white;
  height: 10%;
  width: 100%;
  border-radius: 20px 20px 20px 20px ;
  margin-bottom: 2%;
}

.ListOfFavourites_{
  background-color: white;
  width: 100%;
  height: 500px;
  margin-left: 10px;
  border-radius: 20px 0 0 20px;
  overflow-y: auto;
  bottom: 0;
}

.savedPost_post{
  display: inline-block;
  background-color: #7b73b9;
  border-radius: 20px;
  margin: 20px;
  width: 30%; 
  height: 380px; 
  padding: 20px; 

}

.border_fav_white{
  height: 20%;
  width: 100%;
  background-color: white;
  border-radius: 20px 20px 0 0 ;
  display: flex;
  align-items: center;
}

.img_fav_purple{
  height: 80%;
  width: 100%;
  border-radius: 0 0 20px 20px  ;
  background-color: #a1a1a1;
}

.border_fav_white input{
display: none;
}

/*fav icon*/

.fav_iconIhe{
  float: right;
  margin-left: 520px;
  margin-bottom: 1.5%;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 10px;
  
}

.img_fav_purple img{
width: 100%;
height: 100%;
}


/*My Animals*/

.Animals_container {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  left: 8%;
  top: 15%;
  right: 0;
  bottom: 0;
  white-space: nowrap;
}

.Animals_container::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.Animals_container::-webkit-scrollbar-track {
  background-color: #f2f2f2;

}

.Animals_container::-webkit-scrollbar-thumb {
  background-color: #645CBB;
}

.Animals_container::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
 
}

.list_of_animals {
  position: relative;
  height: 20%;
  width: 96%;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 4%;
}

.list_of_animals .Animals_details_container_border{
  height: 30%;
  font-size: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.list_of_animals .Animals_details_container_border .button_container {
  text-align: right;
  margin-right: 3%;
  
  }

.list_of_animals .Animals_details_container_border .button_container  button{
  

}

.list_of_animals_{
  background-color: white;
  height: 80%;
  width: 100%;
  border-radius: 0 0 20px 20px;
  margin-bottom: 5%;
  display: flex;
}


.Animals_profile_container {
  display: flex;
  min-height: 40%;
  min-width: 100%;
  height: 40%;
  width: 100%; 
  border-radius: 20px;
  margin-bottom: 2%;
  margin-right: 1%; 
}


.list_of_animals .Animals_details_container_border{
   height: 40%;
}
.Animals_photo_container {
  background-color: white;
  float: left;
  height: 100%;
  width: 20%;
  border-radius: 20%;
 
}



.Animals_details_container_{
  float: right;
  height: 100%;
  width: 75%;
  border-radius: 20px;
  margin-left: 1%;  
}

.Animals_details_container {
  background-color: white;
  float: right;
  height: 80%;
  width: 100%;
  border-radius: 0 0 20px 20px;
  margin-left: 1%;  
}

.Animals_details_container_border{
  background-color: #645CBB;
  height: 20%;
  width: 100%;
  border-radius: 20px  20px 0 0 ;
}

.Animals_details_container_border h3, .Animals_details_container_border button {
  display: inline-block;

}

.Animals_details_container_ .Animals_details_container_border button{

  right: 0;
  width: 10%;
  margin-top: 1.5%;
  margin-right: 2%;
  background-color: #481e94;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}


.Animals_details_container_border h3 {
  font-size: 120%; 
  width: 60%;
  height: 100%;
  color: #FFFFFF; 
  margin: 0; 
  padding: 10px; 
  margin-bottom: 1%;
  
}

.medical_details {
  display: flex;
  flex-wrap: wrap;
  height: 26%;
  width: 100%; 
  border-radius: 20px;
  margin-bottom: 5%;
}

.medical_details_container {
  height: 100%;
  width: 65%;
  border-radius: 20px;
  margin-right: 1%;
  display: block;
}

.medical_details_container .Animals_details_container_border{
height: 30%;
font-size: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medical_details_container .Animals_details_container_border .button_container  button{
  background-color: #481e94;
  border: none;
  color: white;
  margin-right: 20px;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.records_container{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius:  0 0  0  20px;
}

.records_container::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.records_container::-webkit-scrollbar-track {
  background-color: #f2f2f2;

}

.records_container::-webkit-scrollbar-thumb {
  background-color: #645CBB;
}

.records_container::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
 
}
.records_container {
  display: flex;
  flex-wrap: wrap;
}

.medical_records_list {
  display: flex;
  flex-wrap: wrap;
}

.record {
  margin-bottom: 5px;
  font-size: 120%;
  font-family: 'Lato', sans-serif;
  color: #645CBB;
  text-align: justify;
  text-indent: 1rem;
  border-left: 5px solid #645CBB;
  border-radius: 5px;
  width: calc(50% - 5%); 
  margin-left: 3.5%;
  margin-top: 3%; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  min-width: 400px;
  max-height: 120px;
}


.record p {
  margin: 0;
  font-size: 16px;
}

.record p:first-of-type {
  font-weight: bold;
  margin-bottom: 5px;
  
}

.record p:nth-of-type(2) {
  margin-bottom: 10px;
}

.record p:last-of-type {
  margin-top: 10px;
}

.record p:last-of-type::before {
  content: "Repeat: ";
  font-weight: bold;
}


.medical_details_container_remind{
  background-color: white;
  height: 95%;
  width: 30%;
  border-radius: 20px;
}

.medical_details_container_remind .records_container{
  margin-top: 10%;
}

.medical_details_container_remind .records_container .record{
  width: 90%;
  margin-top: 5%;
}

.animal_photo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
}

.Animals_photo_container img{
  width: 100%;
  height: 100%;
  border-radius: 20%;
  display: flex;
 
}


.Animals_details_container p{
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  font-size: 120%;
  font-family: 'Lato', sans-serif;
  color: #645CBB;
  line-height: 2;
  text-align: justify;
  text-indent: 1rem;
  border-left: 5px solid #645CBB;
  border-radius: 5px;
  height: 50%;
  margin-left: 1rem;
  width: 90%;
  font-weight: bold;
}



.Animals_details_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}



.white_container{
  background-color: #ffffff;
  width: 90%;
  border-radius: 10px;
  padding: 5%;
  min-height: 50%;
}

.white_container .Animals_details_container_border{
width: 100%;
}
/* My Profile*/
.profile {
  overflow-y: auto;
  height: 100%;
  width: 90%;
  position: fixed;
  margin-left: 10%;
  flex-direction:column;
}

.profile::-webkit-scrollbar {
  display: none;
}

.posts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post_container {
  width: 33.33%;
  display: flex;
  max-height: 400px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
  opacity: 100%;
}

.post_container img {
  width: 100%;
  height: 100%;
  opacity: 100%;
}

.post_container h3 {
  font-size: 120%;
  background-color: rgba(191, 172, 206, 0.6);
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin-top: -10%;
  color: #ffffff;
}


.user_posts {
  background-color: white;
  height: 100%;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 200px;
  
}

.user_posts_a{
  background-color: #645CBB;
  height: 90%;
  overflow-y: scroll;
  width: 95%;
  border-radius: 20px 20px 20px 20px;
}

.user_details {
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  width: 100%; 
  border-radius: 20px;
  margin-bottom: 1%;
}

.bottom_space {
  margin-top: 100px;
  height: 50px; 
}

.user_details_container {
  background-color: white;

  height: 100%;
  width: 69%;
  border-radius: 20px;
  margin-right: 1%;
  display: flex;
  align-items: center;
}


.usDC{
  background-color: #645CBB;
  width: 80%;
  height: 100%;
  box-shadow: 20px 0px 0px 0px rgba(20, 0, 0, 0.15);
  border-radius: 20px 400px 0 20px;
}
.circle {
  background-color: #BFACE2;
  margin-top: 2%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
  margin-left: 5%;
  align-self: flex-end;
}

.circle2 {
  background-color: #EBC7E6;
  margin-top: 8%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
  margin-right: -31%;
  align-self: flex-end;
}


.circle2 img {
  max-width: 180px;
  min-width: 180px;
  min-height: 180px;
  max-height: 180px;
  border-radius: 50%;
  display: block;
}

.User_spef {
  margin-left: 5%;
  padding: 20px;
  width: 65%;
  border-radius: 10px;
  
}

.User_spef h2 {
  font-size: 30px;
  margin-top: 7%;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}

.User_spef h5 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  color: #ffffff;
  font-style: italic;
}



.under {
  width: 100%;
  height: 20%;
  margin-top: 7%;
}

.under img {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  border: 10px solid white;
  margin-right: 8%;
}

  
.div_cards {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user_details_container_animals {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 5px solid black;
  opacity: 80%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(-2%) rotate(-6deg);
}


.user_details_container_animals_a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 5px solid black;
  opacity: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}


.user_details_container_animals_a img{
  display: inline-block;
  width: 5%;
  height: 5%;
}

.container_det_animals {
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  width: 95%;
  height: 80%;
  margin-bottom: 10%;
  background-color: #ffffff;
  display: block;
}

.container_det_animals  .container_det_animals_b{
  width: 100%;
  height: 100%;
  background-color: #645CBB;

}

.container_det_animals_b img{
  width: 100%;
  height: 100%;
}

.container_det_animals  .container_det_animals_c{
  width: 100%;
  height: 30%;
  margin-top: -20%;
  bottom: 0;
  border-radius: 20%;
}

.container_det_animals_c h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}

.buttons{
  opacity: 20%;
}


/* Settings */

.settings {
  min-height: 560px;
  max-height: 560px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  height: 300px;
  background: #f1f1f1;
  margin-left: 8%;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 0 0 20px 20px;
}


.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background:#481e94;
}

.bloc-tabs button{
border: none;
}

.content-tabs {
  flex-grow : 1;
}
.content-set {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;

}

.content-set h2 {
  padding: 0px 0 5px 0px;
}
.content-set hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content-set p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: flex;
}

.sett_img-user img{
  overflow: hidden;
  max-width: 250px;
  min-width: 250px;
  min-height: 200px;
  max-height: 250px;
  border-radius: 50%;
}

.sett_img-user {
  margin-left: 200px;
}
/*search-bar*/

/*Add new animal*/

.container_add_new_animal {
  position: fixed;
  margin-left: 8%;
  width: 89%;
  background-color: #ffffff;
  height: 74%;
  border-radius: 3%;
}

.container_add_new_animal .Animals_details_container_border{
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_add_new_animal_{
  margin-left: 2.5%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  height: 100%;

}

.container_add_new_animal h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-left: 2%;
  margin-top: 1%;

}

.save_button {
  background-color: #481e94;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3%;
  width: 15%;
  cursor: pointer;
  border-radius: 4px;
}

.container_add_new_animal_ {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_add_new_animal_a,
.container_add_new_animal_b {
  width: 48%;
}

.container_add_new_animal_a label,
.container_add_new_animal_b label {
  display: block;
  margin-bottom: 5px;
  color: #524a9d;
  font-weight: bold;
  margin-top: 3%;
}

.circle-image {
  width: 20%;
  height: 25%;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #524a9d;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_add_new_animal_a input,
.container_add_new_animal_b input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #524a9d;
  margin-bottom: 10%;
}

.container_add_new_animal_a input:focus,
.container_add_new_animal_b input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container_add_new_animal_b label[for="picture"] {
  display: block;
}

.container_add_new_animal_b input[type="file"] {
  margin-bottom: 1%;
}

.container_add_new_animal_b label[for="sterilizer"],
.container_add_new_animal_b label[for="notification"] {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 1%;
}

.container_add_new_animal_b input[type="checkbox"] {
  margin-right: 5px;
}

.container_add_new_animal_a input,
.container_add_new_animal_b input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9d98d7;
  border-radius: 5px;
  margin-bottom: 10px; 
  font-size: 16px;
  color: #524a9d;
}

.checkboxes label[for="sterilizer"],
.checkboxes label[for="notification"] {
  display: inline-block;
  margin-right: 10px;
  }


  .checkboxes_a {
    display: flex ;
    align-items: center;
    margin-top: 5%;
  }

  .checkboxes_a input{
    width: 5%;
    float: right;
    margin-left: 85%;
    right: 0;
  }

  .checkboxes {
    display: flex ;
    align-items: center;
    margin-top: 5%;
  }

  .checkboxes input{
    width: 5%;
    float: right;
    margin-left: 43%;
    right: 0;
  }


select {
  border: 1px solid #9d98d7;
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
}


select option {
  font-size: 16px;
  color: #555;
  background-color: #fff;
}

select option:checked {
  background-color: #ccc;
  color: #fff;
}

.container_add_new_animal_a textarea{
  width: 100%;
}



/*Add new post */


.add-new-post {
  position: fixed;
  overflow-y: auto;
  width: 80%;
  display: flex;
  background-color: #fff;
  margin-left: 11%;
  height: 80%;
  min-height: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}


.add-new-post-picture-side{
  margin-left: 5%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding-bottom: 80px;
}



.rect-image-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  border: 2px dashed #481e94;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.rect-image-add img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.add-new-post label {
  display: block;
  margin-bottom: 20px;
  color: #524a9d;
  font-weight: bold;
  margin-top: 3%;
  
}

.add-new-post input {
  display: block;
  width: 50%;
  min-width: 480px;
  height: 45px;
  
 
}

.add-new-post textarea {
  display: block;
  width: 50%;
  min-width: 480px;
  min-height: 150px;
}

.add-new-post select {
  width: 50%;
  min-width: 480px;
  min-height: 45px;
}

.section-1{
  margin-left: 5%;
}


.r_wrap {
  position: relative;
  right: -22%;
  bottom: 100px;
}
.r_wrap_{
  position: relative;
  right: -22%;
  bottom: 30px;
  
}

.b_round,
.s_round {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #481e94;
  transition: all 0.2s linear;
}

.b_round {
  opacity: 0;
  background-color: #8d6baf;
}

.b_round_hover {
  transform: scale(1.37);
  opacity: 0.4;
}

.b_round_back_hover {
  background-color: #8d6baf;
}

.s_round_click {
  transform: scale(1.7);
}

.s_round_back {
  background-color: #7268b9;
}

 .s_arrow {
  width: 52px;
  height: 52px;
  background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_back {
  width: 52px;
  height: 52px;
  background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
  background-color: transparent;
  transform: scaleX(-1);
}

.s_submit{
  width: 52px;
  transition: all 0.35s linear;
  height: 52px;
  background-image: url("https://img.icons8.com/ios-filled/50/FFFFFF/checkmark--v1.png");
}


.s_arrow_rotate {
  transform: rotate(-180deg);
}

.section-2{
  overflow-y: auto;
  margin-bottom: 5%;
}





/*Lista Postari*/

.post_content_details .form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 5px;
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 10px;
  
}


.post_content_details .location {
  color: #524a9d;
  right: 5%;
}


.descriere_post{
  width: 100%;
  min-height: 200px;
  margin-bottom: 10%;
  font-size: 30px;
  height: 50%;
}



.s_round_post {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.s_arrow_post {
  width: 10px;
  height: 10px;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transform: rotate(-45deg);
}

.post_content_details .form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #524a9d;
}

#section-2 .post_content_details .form-control label {
  color: #645CBB;
} 


.s_round_post {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}


.s_round_post.rotated .s_arrow_post::after {
  border-top: 7px solid #481e94;
}


.post_content_details{
  min-width: 450px;
  margin-left: 5%;
  margin-right: 4%;
  margin-bottom: 5%;
  margin-top: 15%;
  padding-bottom: 80px;
}

.profile-picture_user-img_comment{
  width: 80px;
  max-width: 80pz;
  border-radius: 50%;
}

.comments-section {
  overflow: hidden;
  max-height: 300px;
  margin-top: 20px;
  position: relative; 
  min-height: 200px;
}

.comments-section h3 {
  margin-left: 5%;
}

.comments-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment {
  display: flex;
  min-height: 60px;
  max-height: 70px;
  background-color: rgba(123, 115, 185, 0.2);
  margin-bottom: 20px;
  border-radius: 20px;
  width: 95%;
  margin-left: 2%;
}

.comment-user {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 10px;
}

.list_of_comments::-webkit-scrollbar {
  display: none;
}

.comment-text {
  font-size: 14px;
  margin-top: 2%;
  border-radius: 8px;
  flex-grow: 1;
  min-width: 700px;
  min-height: 25px;
  width: 80%;
  margin-left: -132px;
  margin-top: 40px;
  margin-bottom: 5%;
}

.user-info_comment p {
  margin-top: -30px;
}

.user-info_comment {
  display: flex;
  align-items: center;
}

.profile-picture_user-img_comment {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 14px;
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.add-comment-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list_of_comments {
  width: 100%;
  overflow-y: scroll;
  min-height: 200px;
  max-height: 200px;
}

.img_comment_add {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 2%;
}

.form-control {
  margin-right: 0.3rem;
}

.btn {
  cursor: pointer;
}

.textarea_comment {
  min-width:750px;
  margin-left: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #524a9d;
  border-color: #524a9d;
  margin-left: 2%;
}

.btn-primary:hover {
  background-color: #524a9d;
  border-color: #524a9d;
}

.comment-actions {
  top: -80px;
  float: right;
  position:relative;
  right: 0;
  margin-right: -170px;
}

.comment-actions button {
  width: 50px;
}

.comment-actions button:hover {
  background: none;
}




/* view post*/

.post_view_container{
  width: 80%;
  min-height: 550px;
  max-height: 800px;
  overflow-y: scroll;
  margin-top: 5%;
  margin-left: 10%;
}

.post_view_container::-webkit-scrollbar {
  display: none;
}


.post_view_container .fav_iconIhe{
margin-left: 660px;
}


.circle button{
  background-color: #9d98d7;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



/*Setting user*/
.user-settings-container {
  width: 100%;
  display: flex;
  
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.settings_user {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.sett_img-user {
  margin-right: 20px;
}

.sett_user_info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.sett_user_name h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sett_user_email h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.sett_user_bio h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.user-settings-container input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
}

.user-settings-container button {
  margin-right: 10px;
  width: 150px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  font-size: 16px;
  cursor: pointer;
}

.user-settings-container button:hover {
  background-color: #555;
}

.user_edit_buttons {
  width: 100%;
  min-width: 200x;
  float: right;
  right: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.user_edit_buttons button:last-child {
  margin-right: 0;
}
